#!/bin/bash

MPC=$(which mpc)

[ -z "${MPC}" ] && exit 1

current_volume() {

  echo $(${MPC} volume | awk -F': ' '{print $2}' | sed 's/%//')
}

vol=$(current_volume)

if [ "${vol}" != "n/a" ]
then

  for v in $(seq ${vol} -2 0)
  do
    vol=$(current_volume)
    [ "${vol}" = "n/a" ] && break

    ${MPC} volume ${v} > /dev/null

    sleep 5s
  done
fi

${MPC} stop

#${MPC} ls
#${MPC} clear
#${MPC} load MeraLunaFM
#${MPC} ls
#${MPC} volume 60
#${MPC} current

